<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
    <section name="FrameworkConfiguration" type="JINI.Base.Configuration.CustomConfigSettings, JINI"/>
  </configSections>
  <extnet scriptMode="Release" licenseKey="MDg5MjI4ODQsMiw5OTk5LTEyLTMx"/>
  <FrameworkConfiguration>
    <FrameworkData>
      <!-- 시스템설정 -->
      <add name="Domain" value="localhost" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="VirtualDirectory" value="WebTemplete" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <!--<add name="DB2LibName" value="PCMLIB" type="JINI.Base.Configuration.ConfigManager, JINI" />-->
      <add name="DB2LibName" value="TYJINFWLIB" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <!-- Domino 기본설정 -->
      <add name="DominoURL" value="dominoURL" type="JINI.Base.Configuration.FxConfigManager, JINI"/>
      <add name="DominoUserName" value="dominoUser" type="JINI.Base.Configuration.FxConfigManager, JINI"/>
      <add name="DominoPassword" value="dominoPW" type="JINI.Base.Configuration.FxConfigManager, JINI"/>
      <add name="DominoNamesURL" value="http://domino/names.nsf" type="JINI.Base.Configuration.FxConfigManager, JINI"/>
      <!-- 로그 ConnectionString -->
      <add name="PrintLog" value="true" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="LogDataBase" value="DB2" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="AuditLog" value="false" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="TimeStamp" value="1000" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="MethodLog" value="true" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <!-- 수정 금지(암호화키) -->
      <add name="Encryption" value="TY" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <!-- 구축 시스템 어셈블리 위치 -->
      <add name="AssemblyPath" value="~/bin/Temp.Biz.dll" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="AssemblyName" value="Temp.Biz" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="AssemblyTempPath" value="c:\\AssemblyTempPath" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <!-- 전자메일 -->
      <add name="Mail" value="" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="Mail_Port" value="" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="Mail_ID" value="" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="Mail_PW" value="" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <!-- 파일업로드 경로설정 -->
      <add name="FileUploadPath" value="c:\Attach\" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <!-- 텍스트디버거 설정 -->
      <add name="TextDebuger" value="c:\Debugger\" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <!--메신져-->
      <add name="MessangerAddress" value="" type="JINI.Base.Configuration.FxConfigManager, JINI"/>
      <add name="MessangerPort" value="" type="JINI.Base.Configuration.FxConfigManager, JINI"/>
      <!-- 파일전송시 FTP사용여부 -->
      <add name="FTP" value="false" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="FTP_SERVER" value="" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="FTP_ID" value="" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="FTP_PASSWORD" value="" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="FTP_PORT" value="" type="JINI.Base.Configuration.ConfigManager, JINI"/>
      <add name="FTP_ROOT" value="/" type="JINI.Base.Configuration.ConfigManager, JINI"/>
    </FrameworkData>
  </FrameworkConfiguration>
  <appSettings/>
  <connectionStrings>
    <add name="DB2" connectionString="Data Source=192.168.100.2;user id=ikhpdm;password=ikh;Default Collection=TYJINFWLIB;CheckConnectionOnOpen=true;" providerName="IBM.Data.DB2"/>
    <add name="ORA" connectionString="Data Source=TTML;user id=TTML;password=TTML;"/>
    <add name="Sql" connectionString="data source=221.164.37.15,5541;database=SWPORTAL;user=sa;password=P@ssw0rd;" providerName="System.Data.SqlClient"/>
    <add name="WebTemplete" connectionString="data source=221.164.37.15,5541;database=WebTemplete2;user=sa;password=P@ssw0rd;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <authentication mode="Forms">
      <forms loginUrl="/Portal/Login.aspx" timeout="60" cookieless="AutoDetect"/>
    </authentication>
    <!--<authorization>
      <deny users="?" />
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="6.0.0.0" />
      </dependentA</authorization>-->
    <machineKey validationKey="9C4BBE62807132ACE3F34EF9C10F9FD125D8D9B9634691D4D4DEC2C4B9DD384C1E3CAE04D4C20E328A5054A44139BE4824D53EBF78A5DA1D6BDE70B1BBFC23C7" decryptionKey="6E7653BCFBEC728576BE5F2E91A565E51D5D1DF0A39230BE" validation="SHA1"/>
    <!--<sessionState mode="StateServer" timeout="20" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="360"></sessionState>-->
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <!-- JINI Default Control -->
        <add tagPrefix="Ctl" assembly="JINI.Control" namespace="JINI.Control.WebControl"/>
        <!-- EXT.NET -->
        <add tagPrefix="ext" namespace="Ext.Net" assembly="Ext.Net"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
      <!-- Framework Default Module -->
      <add name="IISModule" type="TaeYoung.Logging.HttpModule.IISModule, TaeYoung.Logging"/>
      <add name="WebModule" type="TaeYoung.Common.WebModule, TaeYoung.Common"/>
    </httpModules>
    <httpRuntime requestValidationMode="2.0" executionTimeout="600" maxRequestLength="1073741824"/>
    <!--<identity impersonate="true" password="P@ssw0rd" userName="FileAdmin"/>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
      <add name="IISModule" type="TaeYoung.Logging.HttpModule.IISModule, TaeYoung.Logging" preCondition="managedHandler"/>
      <add name="WebModule" type="TaeYoung.Common.WebModule, TaeYoung.Common" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2097152"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>