<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FrameworkConfiguration" type="JINI.Base.Configuration.CustomConfigSettings, JINI" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <FrameworkConfiguration>
    <FrameworkData>
      <!-- 시스템설정 -->
      <add name="DB2LibName" value="TYJINFWLIB" type="JINI.Base.Configuration.ConfigManager, JINI" />
      <!-- 로그 ConnectionString -->
      <add name="PrintLog" value="true" type="JINI.Base.Configuration.ConfigManager, JINI" />
      <add name="LogDataBase" value="DB2" type="JINI.Base.Configuration.ConfigManager, JINI" />
      <add name="AuditLog" value="false" type="JINI.Base.Configuration.ConfigManager, JINI" />
      <add name="TimeStamp" value="1000" type="JINI.Base.Configuration.ConfigManager, JINI" />
      <add name="MethodLog" value="true" type="JINI.Base.Configuration.ConfigManager, JINI" />
      <!-- 수정 금지(암호화키) -->
      <add name="Encryption" value="TY" type="JINI.Base.Configuration.ConfigManager, JINI" />
      <!-- 텍스트디버거 설정 -->
      <add name="TextDebuger" value="c:\Debugger\" type="JINI.Base.Configuration.ConfigManager, JINI" />
    </FrameworkData>
  </FrameworkConfiguration>
  <connectionStrings>
    <add name="DB2" connectionString="Data Source=192.168.100.2;user id=ikhpdm;password=ikh;Default Collection=TYJINFWLIB;CheckConnectionOnOpen=true;" providerName="IBM.Data.DB2"/>
  </connectionStrings>
</configuration>
