/*
 * 홍정화(Miksystem)
 */
 
/* 조직도의 버튼 아이콘 */
.add { background-image:url('ext/resources/images/add.gif') !important; }
.delete { background-image:url('ext/resources/images/delete.gif') !important; }
.cross { background-image:url('ext/resources/images/cross.gif') !important; }
.contact { background-image:url('ext/resources/images/contact.gif') !important; }

.teamContact { background-image:url('ext/resources/images/teamContact.gif') !important; }

/* 다국어처리 버튼 아이콘 */
.sk-korea { background-image:url('ext/resources/images/korea.png') !important; }
.sk-english { background-image:url('ext/resources/images/english.png') !important; }
.sk-china { background-image:url('ext/resources/images/china.png') !important; }

#header {
    background: #7F99BE url('ext/resources/images/hd-bg.gif') repeat-x center;
}

#header h1 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    padding: 5px 10px;
}

x-grid3-cell-inner sk-dept-name 
{
	color:#800000;
	font-weight: 700;
	overflow:visible;
}

.x-window-dlg .sk-wait-box {
	background:transparent url('ext/resources/images/default/shared/blue-loading.gif') no-repeat top left;
	height:46px;
}

.loading-indicator {
    font:bold 13px  Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color:#444;
    background-image:url('ext/resources/images/default/shared/blue-loading.gif');
    background-repeat: no-repeat;
    background-position:left 5px;
    padding:10px 10px 10px 38px;
    height:18px;
	text-align:left;
}

#loading-mask{
	position:absolute;
	left:0;
	top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#loading{
	position:absolute;
	left:45%;
	top:40%;
	padding:2px;
	z-index:20001;
    height:auto;
}
#loading img {
    margin-bottom:5px;
}
#loading .loading-indicator{
	background:white;
	color:#555;
	font:bold 13px tahoma,arial,helvetica;
	padding:10px;
	margin:0;
    text-align:center;
    height:auto;
}

/* 조직도의 Presence 아이콘 */

.gw-presence {
	padding-right:4px;
}
.gw-presence-icon {
	background-position:center center;
	background-repeat:no-repeat;
	border:0 none;
	height:12px;
	margin:0;
	padding:0;
	vertical-align:middle;
	width:12px;
	cursor:pointer;
}
.gw-presence-unk		{ background-image:url(presence.image/IMNUNK.PNG) !important; }
.gw-presence-on			{ background-image:url(presence.image/IMNON.PNG) !important; }
.gw-presence-onoof		{ background-image:url(presence.image/IMNONOOF.PNG) !important; }
.gw-presence-off		{ background-image:url(presence.image/IMNOFF.PNG) !important; }
.gw-presence-offoof		{ background-image:url(presence.image/IMNOFFOOF.PNG) !important; }
.gw-presence-awayoof	{ background-image:url(presence.image/IMNAWAYOOF.PNG) !important; }
.gw-presence-busyoof	{ background-image:url(presence.image/IMNBUSYOOF.PNG) !important; }
.gw-presence-busy		{ background-image:url(presence.image/IMNBUSY.PNG) !important; }
.gw-presence-away		{ background-image:url(presence.image/IMNAWAY.PNG) !important; }
.gw-presence-dnd		{ background-image:url(presence.image/IMNDND.PNG) !important; }
.gw-presence-dndoof		{ background-image:url(presence.image/IMNDNDOOF.PNG) !important; }
.gw-presence-idle		{ background-image:url(presence.image/IMNIDLE.PNG) !important; }
.gw-presence-idleoof	{ background-image:url(presence.image/IMNIDLEOOF.PNG) !important; }
.gw-presence-blocked	{ background-image:url(presence.image/IMNBLOCKED.PNG) !important; }
.gw-presence-idlebusy	{ background-image:url(presence.image/imnidlebusy.png) !important; }
.gw-presence-idlebusyoof { background-image:url(presence.image/imnidlebusyoof.png) !important; }

/* Ext customize */
.x-small-editor .x-form-field{font:normal 12px Gulim,GulimChe, Helvetica, sans-serif;}
.x-tree-node{color:black;font:normal 12px Gulim,GulimChe, Helvetica, sans-serif;white-space:nowrap;}
.x-grid3-hd-row td,.x-grid3-row td,.x-grid3-summary-row td{font:normal 12px Gulim,GulimChe, Helvetica, sans-serif;}
.x-btn button{border:0 none;background:transparent;font:normal 12px Gulim,GulimChe, Helvetica, sans-serif;padding-left:3px;padding-right:3px;cursor:pointer;margin:0;overflow:visible;width:auto;-moz-outline:0 none;outline:0 none;}
.x-panel-header{overflow:hidden;zoom:1;color:#15428b;font:bold 12px Gulim,GulimChe, Helvetica, sans-serif;padding:5px 3px 4px 5px;border:1px solid #99bbe8;line-height:15px;background:transparent url(ext/resources/images/default/panel/white-top-bottom.gif) repeat-x 0 -1px;}
.x-tab-strip span.x-tab-strip-text{font:normal 13px Gulim,GulimChe, Helvetica, sans-serif;}
.x-tab-strip-active span.x-tab-strip-text{cursor:default;color:#15428b;font-weight:bold;}
/* bug 수정 홍정화 2008-02-02 */
.x-grid3-header-offset{padding-left:1px;
width:10000px;/* apply to all browsers */
#width:auto;/* override for Microsoft Internet Explorer browsers*/
_width:auto;/* override for IE browsers 6.0 and older */
}
.x-tree-root-ct{float:left;}

/* Ext Menu */
.menu-title {
	-x-system-font:none;
	background:#EBEADB url(ext/resources/images/default/grid/grid3-hrow.gif) repeat-x scroll 0 0;
	border-bottom:1px solid #99bbe8;
	color:#15428B;
	display:block;
	font:bold 12px Gulim,GulimChe, Helvetica, sans-serif;
	margin-left:-3px;
	margin-right:-3px;
	padding-top:3px;
	padding-bottom:3px;
	cursor:pointer;
}
.menu-title-text{
	display:block;
	padding-left:5px;
}

.x-tree-node-leaf .x-tree-node-icon{background-image:url(ext/resources/images/treeLeaf.gif);}
.x-tree-node .x-tree-selected{background-color:#d9e8fb;font-weight:bold;}
.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label{white-space:nowrap;font:normal 12px Gulim,GulimChe, Helvetica, sans-serif;}
.x-window-tl .x-window-header{color:#15428b;font:bold 12px Gulim,GulimChe, Helvetica, sans-serif;}
.x-form-item{font:normal 12px Gulim,GulimChe, Helvetica, sans-serif;}